*{
    font-size: 10px;
    font-family:宋体,Arial;
    font-weight:normal;


}
.red{
    color:red;
    font-weight: bold;
}
body{
    overflow: auto;
    /*background-color: buttonface;*/
    border-width: 200px;
    margin:0px;
    padding:5px;

}
textarea{
    border-width:1px;
    width:200px;
    height:100px;
    margin-botton:5px;
}
input{
    border-width:1px;
    margin-bottom: 5px;
}
.output{
    border:1px inset buttonface;
    width:200px;
    height:100px;
    margin-botton:5px;
    bachground-color:white;
    overflow:auto;
    padding:5px;
}
#mp {
    width:220px;
    height:40px;
    line-height:20px;
    overflow:hidden;
    border:1px solid black;
}
#mp div{
    position:absolute;
    width:220px;
    padding:0px 10px;

}

#tool{
    background-color: buttonface;
    border-bottom: 2px solid buttonface;
    height: 24px;
    line-height: ;
}
