*{
    font-size: 12px;
    font-family:宋体,Arial;
    font-weight:normal;
    color:#333;
}
.red{
    color:red;
    font-weight: bold;
}
body{
    background-color: buttonface;
    border-width: 200px;
    margin:0px;
    padding:5px;

}
textarea{
    border-width:1px;
    width:200px;
    height:100px;
    margin-botton:5px;
}
input{
    border-width:1px;
    margin-bottom: 5px;
}
.output{
    border:1px inset buttonface;
    width:200px;
    height:100px;
    margin-botton:5px;
    bachground-color:white;
    overflow:auto;
    padding:5px;
}