*{
    font-size: 10px;
    font-family:宋体,Arial;
    font-weight:normal;


}
.red{
    color:red;
    font-weight: bold;
}
body{
    overflow: auto;
    /*background-color: buttonface;*/
    border-width: 200px;
    margin:0px;
    padding:5px;

}
textarea{
    border-width:1px;
    width:200px;
    height:100px;
    margin-botton:5px;
}
input{
    border-width:1px;
    margin-bottom: 5px;
}
.output{
    border:1px inset buttonface;
    width:200px;
    height:100px;
    margin-botton:5px;
    bachground-color:white;
    overflow:auto;
    padding:5px;
}
#mp {
    width:220px;
    height:40px;
    line-height:20px;
    overflow:hidden;
    border:1px solid black;
}
#mp div {
    position: absolute;
    width: 220px;
    padding: 0px 10px;

}



#tools{
    background-color:buttonface;
    border-bottom: 2px solid buttonshadow;
    height:24px;
    line-height:24px;
    padding:0px 5px;
}
#huatia{
    padding:0px 10px;
}
#huatia *{
    font-size:1em;
    margin:0px;
    padding:0px;
}
#huatia h3{
    font-size:1.5em;
    line-height:2em;
    font-weight:bolder;
}
#huaita div{
    text-indent:2em;

}
fieldset{
    margin:10px;
}
a{
    color:navy;
}
#d1,#d2{
    margin:5px 10px;
    padding:5px 15px;
    background-color:white;
    height:20px;
}


