*{
    font-size:12px;
    font-family:宋体,Arial;
}
body{
    overflow:auto;
    background-color:buttonface;
    border-style:none;
}
.button01{
    padding:5px 10px 0px 10px;
    border-width:1px;
    margin:3px;
    text-align:center;

}
#lst_hidden,#lst_show{
    width:200px;
    height:180px;
}
#div_preview{
    background-color:white;
    border:2px inset buttonface;
    height:36px;
    margin:5px 10px;
}
#div_preview a{
    color:navy;
    text-decoration:none;
    height:26px;
    line-height:26px;
    margin:0px 3px;
    padding:2px 15px 0px 15px;
    border:1px solid white;
}
#div_preview a:hover{
    border:1px solid#555;
    background-color:#d9e9f9;
}